<section id="information" class="md:mx-auto py-8 my-8 max-w-7xl mx-8">
  <h1 class="text-3xl md:text-7xl font-black mb-8">Some things to note</h1>
  <div class="grid-row-3 flex grid-cols-3 flex-col gap-8 md:grid">
    <div id="experience" class="bento-box flex justify-center">
      <div class="my-auto">
        <h1
          class="bento-heading bg-gradient-to-bl from-blue-400 to-primary bg-clip-text text-6xl text-transparent"
        >
          3 Years
        </h1>
        <p>Of experience</p>
      </div>
    </div>
    <div id="yt" class="bento-box flex flex-col justify-between group">
      <p class="font-black text-3xl">
        Hey there! <br /> I'm Nev, I'm a dev
      </p><a
        aria-label="YouTube"
        href="https://youtube.com/@nevillebrem"
        target="_blank"
        class="mx-auto flex gap-2"
        ><i
          class="fa-brands fa-youtube text-5xl group-hover:text-red-500 duration-500"
        ></i>
        <span class="my-auto tracking-tighter text-2xl font-bold">YouTube</span
        ></a
      >
    </div>
    <div id="contribs" class="bento-box">
      <h1
        class="bento-heading bg-gradient-to-bl from-blue-400 to-primary bg-clip-text text-6xl text-transparent md:text-8xl"
      >
        1K+
      </h1>
      <p>
        Contributions on{" "}
        <a href="https://github.com/nevthereal" target="_blank" class="anchor">
          GitHub
        </a>
      </p>
    </div>
    <div id="whyme" class="bento-box col-span-2 flex flex-col group">
      <div class="m-auto">
        <h1
          class="bento-heading bg-gradient-to-bl from-blue-400 to-primary bg-clip-text text-4xl text-transparent md:text-6xl"
        >
          Why me?
        </h1>
        <ul
          class="list-inside list-decimal text-lg font-semibold md:text-xl text-left"
        >
          <li>
            <span
              class="group-hover:font-black duration-200 ease-in-out group-hover:text-primary"
              >Beautifully</span
            > crafted Websites
          </li>
          <li>
            <span
              class="group-hover:font-black duration-200 ease-in-out group-hover:text-primary"
              >Modern</span
            > Design
          </li>
          <li>
            <span
              class="group-hover:font-black duration-200 ease-in-out group-hover:text-primary"
              >Keen eye</span
            > on detail
          </li>
          <li>
            <span
              class="group-hover:font-black duration-200 ease-in-out group-hover:text-primary"
              >Fast</span
            > response times
          </li>
        </ul>
      </div>
    </div>
    <div
      id="stack"
      class="bento-box bg-gradient-to-b from-white/50 to-orange-500/50"
    >
      <h1 class="bento-heading text-4xl md:text-6xl text-white">Stack:</h1>
      <ul class="font-bold text-2xl text-white">
        <li>
          <a
            href="https://kit.svelte.dev"
            target="_blank"
            class="hover:text-orange-500 duration-200 ease-in-out"
          >
            SvelteKit
          </a>
        </li>
        <li>
          <a
            href="https://astro.build"
            target="_blank"
            class="hover:text-pink-500 duration-200 ease-in-out"
          >
            Astro
          </a>
        </li>
        <li>
          <a
            href="https://tailwindcss.com"
            class="hover:text-blue-400 duration-200 ease-in-out"
            target="_blank"
          >
            Tailwind
          </a>
        </li>
        <li>
          <a
            href="https://orm.drizzle.team"
            class="hover:text-lime-500 duration-200 ease-in-out"
            target="_blank"
          >
            Drizzle
          </a>
        </li>
        <li>
          <a
            href="https://neon.tech"
            class="hover:text-cyan-500 duration-200 ease-in-out"
            target="_blank"
          >
            Neon
          </a>
        </li>
        <li>
          <a
            href="https://lucia-auth.com"
            class="hover:text-purple-500 duration-200 ease-in-out">Lucia</a
          >
        </li>
      </ul>
    </div>
    <div class="col-span-3 flex grid-cols-2 flex-col gap-8 md:grid">
      <div id="quote" class="bento-box flex">
        <div class="mx-auto flex flex-col text-left">
          <i
            class="fa-solid fa-quote-left mx-auto bg-gradient-to-bl from-blue-400 to-primary bg-clip-text text-left text-3xl text-transparent"
          ></i>
          <p class="text-center text-2xl font-semibold italic">
            Design is not just what it looks like and feels like. Design is how
            it works. <br />
            <span class="text-lg font-normal">- Steve Jobs</span>
          </p>
        </div>
      </div>
      <div
        id="interactivity"
        class="bento-box flex items-center justify-center group"
      >
        <div>
          <h1
            class="bento-heading bg-gradient-to-bl from-blue-400 to-primary bg-clip-text text-4xl text-transparent duration-200 ease-in-out group-hover:tracking-widest"
          >
            Interactivity
          </h1>
          <p>
            Creates a feeling of <span class="font-bold">connection</span> to the
            site.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
