---
import Heading from "@components/Heading.astro";
---

<section id='timeline' class='max-w-5xl md:mx-auto mx-8 prose-a:link'>
  <Heading title='My timeline' subtitle='A little bit of history' />
  <ul
    class='timeline timeline-snap-icon max-md:timeline-compact timeline-vertical mb-16'
  >
    <li>
      <div class='timeline-middle'>
        <i class='fa-solid fa-check-circle'></i>
      </div>
      <div class='timeline-start mb-10 md:text-end'>
        <time class='font-mono italic'>Early 2022</time>
        <div class='text-lg font-black'>First contact</div>
        Learned HTML and CSS in School. This was my first contact with Web Development
        and would change my life for the better.
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class='timeline-middle'>
        <i class='fa-solid fa-check-circle'></i>
      </div>
      <div class='timeline-end mb-10'>
        <time class='font-mono italic'>July 2022</time>
        <div class='text-lg font-black'>Early Contributor</div>
        Discovered GitHub and created my first
        <a
          href='https://github.com/nevthereal/TheCreators'
          target='_blank'
          class='anchor'>Repository</a
        >. I was still building in vanilla HTML and CSS (and rocked animations)
        but was too scared to learn JavaScript.
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class='timeline-middle'>
        <i class='fa-solid fa-check-circle'></i>
      </div>
      <div class='timeline-start mb-10 md:text-end'>
        <time class='font-mono italic'>Summer 2022</time>
        <div class='text-lg font-black'>Discovering React & Tailwind</div>
        Got into React and built my first
        <a
          href='https://github.com/nevthereal/portfolio-react'
          target='_blank'
          class='anchor'>Portfolio.</a
        >
        I also discovered Tailwind and began one of my biggest projects:
        <a href='https://wolffebricks.rocks' target='_blank' class='anchor'
          >Will's Brix</a
        >, now known as Wolffe Bricks.
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class='timeline-middle'>
        <i class='fa-solid fa-check-circle'></i>
      </div>
      <div class='timeline-end mb-10'>
        <time class='font-mono italic'>Summer 2023</time>
        <div class='text-lg font-black'>Fresh start</div>
        After a long break of coding, I call it the coding winter, I got back into
        development. Rebranded Wolffe Bricks and rebuilt the website with Stripe
        and built a backend in expressjs. Later I discovered TypeScript and built
        my
        <a href='https://barmates.ch' target='_blank' class='anchor'
          >favorite landing page</a
        > utilising framer-
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class='timeline-middle'>
        <i class='fa-solid fa-check-circle'></i>
      </div>
      <div class='timeline-start mb-10 md:text-end'>
        <time class='font-mono italic'>Fall 2023</time>
        <div class='text-lg font-black'>SvelteKit</div>
        Discovered SvelteKit and built some first applications with it. This made
        me pick up on web dev again and made me a full stack dev. I rebuilt
        <a href='https://wolffebricks.rocks' class='anchor'>Wolffe Bricks</a> with
        it and loved the DX. And the <i>vibes</i>.
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class='timeline-middle'>
        <i class='fa-solid fa-check-circle'></i>
      </div>
      <div class='timeline-end mb-10 md:text-start'>
        <time class='font-mono italic'>Early 2024</time>
        <div class='text-lg font-black'>Houston and YouTube</div>
        I learned Astro for more content-driven and static pages like landing pages.
        I also began my
        <a
          href='https://youtube.com/@nevillebrem'
          target='_blank'
          class='anchor'>YouTube channel</a
        >.
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class='timeline-middle'>
        <i class='fa-solid fa-check-circle'></i>
      </div>
      <div class='timeline-start mb-10 md:text-end'>
        <time class='font-mono italic'>Summer 2024</time>
        <div class='text-lg font-black'>Holy sh*t</div>
        I would start and call myself a kind of experienced developer. I discovered
        many technologies, settled with some cool stuff, worked with DBs, AI and
        had an extensive relationship with <a
          href='https://superforms.rocks'
          target='_blank'>Forms</a
        >. I am keeping up with productivity, building <a
          href='https://zenithproductivity.app'
          target='_blank'>Zenith</a
        >, my most advanced project yet.
      </div>
    </li>
  </ul>
</section>
