---
import BaseLayout from "@layouts/BaseLayout.astro";
import About from "@components/sections/About.astro";
import Bento from "@components/sections/Bento.astro";
import Timeline from "@components/sections/Timeline.astro";
---

<BaseLayout title="Home">
  <section class="w-screen h-screen flex justify-center items-center">
    <div class="flex flex-col gap-4">
      <h1
        class="text-center text-7xl font-black md:text-8xl motion-preset-blur-up"
      >
        Neville Brem
      </h1>
      <h3 class="mx-auto font-semibold italic text-xl md:text-2xl group">
        Bringing
        <span
          class="font-extrabold text-primary duration-200 ease-in-out group-hover:tracking-widest group-hover:text-green-500"
        >
          life
        </span>
        to every page
      </h3>
      <a
        href="#about"
        class="btn btn-primary mx-auto text-white font-bold btn-outline motion-preset-pop motion-duration-300"
      >
        Explore
      </a>
    </div>
  </section>

  <About />
  <Bento />
  <Timeline />
</BaseLayout>
