---
import { Button } from "@components/Home";
import meRaw from "@assets/me.jpg";
import { getImage } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";

const me = await getImage({ src: meRaw });
---

<BaseLayout title='Home'>
  <section class='w-screen h-screen flex justify-center items-center'>
    <div class='flex flex-col gap-4'>
      <h1 class='mx-auto text-7xl font-black md:text-8xl'>Neville Brem</h1>
      <h3 class='mx-auto font-semibold italic text-xl md:text-2xl'>
        Bringing{" "}
        <span
          class='font-extrabold text-primary duration-200 ease-in-out hover:tracking-widest hover:text-green-500'
        >
          life
        </span>{" "}
        to every page
      </h3>
      <Button client:load />
    </div>
  </section>
</BaseLayout>
