---
import { Button, InfoBento } from "@components/Home";
import me from "@assets/me.jpg";
import { Image } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title='Home'>
  <section class='w-screen h-screen flex justify-center items-center'>
    <div class='flex flex-col gap-4'>
      <h1 class='mx-auto text-7xl font-black md:text-8xl'>Neville Brem</h1>
      <h3 class='mx-auto font-semibold italic text-xl md:text-2xl'>
        Bringing{" "}
        <span
          class='font-extrabold text-primary duration-200 ease-in-out hover:tracking-widest hover:text-green-500'
        >
          life
        </span>{" "}
        to every page
      </h3>
      <Button client:load />
    </div>
  </section>

  <section id='about' class='max-w-5xl mx-auto'>
    <div
      class='mx-8 flex grid-cols-2 flex-col-reverse gap-16 py-8 md:grid md:gap-0'
    >
      <div class='m-auto'>
        <h1 class='h1 font-black'>About me</h1>
        <p class='mt-2 text-balance'>
          Hey there, my name is Neville Brem and I am a Web Developer from
          Zurich, Switzerland. I love coding, computer science and everything to
          do with tech. I am 16 years old in a High School in Zurich. I began my
          coding journey in 2021. Since then I've been fascinated with web
          development and learned many technologies around it. I have passions
          for all things digital including photography, editing and AI.
        </p>
      </div>
      <Image
        src={me}
        alt='me:)'
        quality='mid'
        loading='lazy'
        class='card my-auto ml-auto mr-auto w-3/4 md:mr-0'
      />
    </div>
  </section>
  <InfoBento client:visible />
</BaseLayout>
