---
interface Link {
  name: string;
  link: string;
}

const usefulLinks: Link[] = [
  {
    link: "https://photography.nevillebrem.com",
    name: "Photography",
  },
  {
    link: "https://codoodle.nevillebrem.com",
    name: "Codoodle",
  },
  {
    link: "https://react.nevillebrem.com",
    name: "Old page",
  },
  {
    link: "https://codoodle.nevillebrem.com",
    name: "Linktree",
  },
];

const supportLinks: Link[] = [
  {
    link: "https://www.youtube.com/channel/UC3sRXm7IW3t-OfKZaSSg3Ww/join",
    name: "YT Member",
  },
  {
    link: "https://github.com/sponsors/nevthereal",
    name: "GitHub Sponsors",
  },
  {
    link: "https://nevillebrem.gumroad.com",
    name: "Gumroad",
  },
];
---

<footer
  class="mx-auto p-8 text-center max-w-xl flex flex-col md:flex-row-reverse gap-4 items-center justify-between max-md:mb-16"
>
  <div class="mt-4 grid grid-cols-2 justify-center text-left">
    <ul>
      <li class="text-base-content/80 font-bold">Useful links</li>
      {
        usefulLinks.map(({ link, name }) => {
          return (
            <li>
              <a class="font-medium" target="_blank" href={link}>
                {name}
              </a>
            </li>
          );
        })
      }
    </ul>
    <ul>
      <li class="text-base-content/80 font-bold">Support me</li>
      {
        supportLinks.map(({ name, link }) => {
          return (
            <li>
              <a class="font-medium" target="_blank" href={link}>
                {name}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
  <div>
    <h1 class="my-4 font-bold text-lg">© 2025 Neville Brem</h1>
    <div class="flex justify-center">
      <a
        class="btn btn-circle btn-ghost"
        aria-label="GitHub"
        href="https://github.com/nevthereal"
        target="_blank"><i class="fa-brands fa-github text-2xl"></i></a
      >
      <a
        class="btn btn-circle btn-ghost"
        aria-label="YouTube"
        href="https://youtube.com/@nevillebrem"
        ><i class="fa-brands fa-youtube text-2xl"></i></a
      >
      <a
        class="btn btn-circle btn-ghost"
        aria-label="X (Twitter)"
        href="https://twitter.com/bremneville"
        target="_blank"><i class="fa-brands fa-x-twitter text-2xl"></i></a
      >
    </div>
  </div>
</footer>
