<footer
  class='mx-auto p-8 text-center md:w-[50%] flex flex-col md:flex-row-reverse gap-4 justify-between'
>
  <div class='mt-4 grid grid-cols-2 justify-items-center text-left'>
    <ul>
      <li class='text-base-content/80 font-bold'>Useful links</li>
      <li>
        <a
          class='font-medium'
          target='_blank'
          href='https://photography.nevillebrem.com'>Photography</a
        >
      </li>
      <li>
        <a
          class='font-medium'
          target='_blank'
          href='https://codoodle.nevillebrem.com'>Codoodle</a
        >
      </li>
      <li>
        <a
          class='font-medium'
          target='_blank'
          href='https://links.nevillebrem.com'>All links</a
        >
      </li>
    </ul>
    <ul>
      <li class='text-base-content/80 font-bold'>Support me</li>
      <li>
        <a
          class='font-medium'
          target='_blank'
          href='https://github.com/sponsors/nevthereal'>GitHub Sponsoring</a
        >
      </li>
      <li>
        <a
          class='font-medium'
          target='_blank'
          href='https://nevillebrem.gumroad.com'>Gumroad Assets</a
        >
      </li>
    </ul>
  </div>
  <div>
    <h1 class='my-4 font-bold text-lg'>© Neville Brem 2024</h1>
    <div class='flex justify-center gap-8 text-2xl'>
      <a href='https://github.com/nevthereal' target='_blank'
        ><i class='fa-brands fa-github'></i></a
      >
      <a href='https://twitter.com/bremneville' target='_blank'
        ><i class='fa-brands fa-x-twitter'></i></a
      >
      <a href='mailto:contact@nevillebrem.com'
        ><i class='fa-solid fa-envelope'></i></a
      >
    </div>
  </div>
</footer>
