---
interface Props {
  title: string;
  subtitle: string;
}
const { title, subtitle } = Astro.props;
---

<div class="my-16 text-center">
  <h1 class="text-4xl md:text-7xl font-black mb-4 motion-preset-blur-right">
    {title}
  </h1>
  <h4 class="md:text-2xl font-semibold italic motion-preset-blur-up">
    {subtitle}
  </h4>
</div>
