---
import Footer from "@components/Footer.astro";
import Nav from "@components/Nav.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <script
      is:inline
      src='https://kit.fontawesome.com/0c1fb969e1.js'
      crossorigin='anonymous'></script>
    <title>Neville Brem - {title}</title>
    <meta property='og:title' content={`Neville Brem - ${title}`} />
    <meta property='og:image' content='banner.png' />
    <meta property='og:description' content='Homepage of Neville Brem' />
    <meta property='og:url' content='https://www.nevillebrem.com' />
    <meta property='twitter:description' content='Homepage of Neville Brem' />
    <meta property='twitter:title' content={`Neville Brem - ${title}`} />
    <meta property='twitter:image' content='banner.png' />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@BremNeville' />
    <style is:global>
      .bento-box {
        @apply p-8 text-center duration-200 hover:shadow-lg shadow-sm rounded-box bg-base-200 border-2 border-base-300;
      }

      .bento-heading {
        @apply mb-4 font-black;
      }

      .disc-list {
        @apply list-inside list-disc;
      }

      html {
        @apply scroll-smooth;
      }
    </style>
  </head>
  <body>
    <Nav />
    <main class='overflow-x-hidden'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
